.header__logo {
    max-width: 142px;
    max-height: 33px;
    object-fit: cover;
    margin-bottom: 37px;
}

@media screen and (max-width: 400px) {
    .header__logo {
        display: none;
    }
}