.header__logo {
    max-width: 142px;
    max-height: 33px;
    object-fit: cover;
    margin-bottom: 37px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 104px;
        max-height: 24px;
        padding-left: 28px;
        margin-bottom: 28px;
    }
}