.profile__info {
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #FFFFFF;
    max-width: 336px;
}

@media screen and (max-width: 710px) {
    .profile__info {
        justify-content: space-around;
    }
}

@media screen and (max-width: 385px) {
    .profile__info {
        max-width: 282px;
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        justify-content: space-evenly;
        align-items: center;
    }
}