.grid-card__delete {
    background-image: url('../../../images/delete-card.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    object-fit: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 86%;
    top: 6%;
    padding: 0;
}

.grid-card__delete:hover {
    opacity: .5;
}