.popup__button-close {
    background-image: url('../../../images/popup-close.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    object-fit: cover;
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    padding: 0;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity .3s ease;
}

.popup__button-close:hover {
    opacity: .6;
}

@media screen and (max-width: 534px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        right: 0;
    }
}