.footer {
    max-width: 880px;
    padding: 65px 0 35px 0;
    flex-shrink: 0;
}

@media screen and (max-width: 930px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding-top: 49px;
        padding-bottom: 32px;
    }
}