@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

@import url('./blocks/page/page.css');

@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__container/header__container.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__email/header__email.css');

@import url('./blocks/content/content.css');

@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__avatar-button/profile__avatar-button.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__user-name/profile__user-name.css');
@import url('./blocks/profile/__user-vocation/profile__user-vocation.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');

@import url('./blocks/elements/elements.css');

@import url('./blocks/grid-cards/grid-cards.css');

@import url('./blocks/grid-card/__container/grid-card__container.css');
@import url('./blocks/grid-card/__delete/grid-card__delete.css');
@import url('./blocks/grid-card/__delete/_hidden/grid-card__delete_hidden.css');
@import url('./blocks/grid-card/__image/grid-card__image.css');
@import url('./blocks/grid-card/__item/grid-card__item.css');
@import url('./blocks/grid-card/__title/grid-card__title.css');
@import url('./blocks/grid-card/__like/grid-card__like.css');
@import url('./blocks/grid-card/__like/_active/grid-card__like_active.css');
@import url('./blocks/grid-card/__like-quantity/grid-card__like-quantity.css');

@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');

@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__button-close/popup__button-close.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__user/popup__user.css');
@import url('./blocks/popup/__submit/popup__submit.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__error/popup__error.css');
@import url('./blocks/popup/__input/_type_error/popup__input_type_error.css');
@import url('./blocks/popup/__button/_disabled/popup__button_disabled.css');

@import url('./blocks/popup-card/popup-card.css');
@import url('./blocks/popup-card/__container/popup-card__container.css');
@import url('./blocks/popup-card/__image/popup-card__image.css');
@import url('./blocks/popup-card/__title/popup-card__title.css');

@import url('./blocks/login/login.css');
@import url('./blocks/login/__title/login__title.css');
@import url('./blocks/login/__form/login__form.css');
@import url('./blocks/login/__form-input/login__form-input.css');
@import url('./blocks/login/__button-container/login__button-container.css');
@import url('./blocks/login/__link/login__link.css');
