.popup__container-tooltip {
    background-color: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    border-radius: 10px;
    width: 430px;
    position: relative;
    box-sizing: border-box;
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 465px) {
    .popup__container-tooltip {
        width: 282px;
        padding: 22px;
    }
}